<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        /* Additional styles for centering content */
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .feature-option {
            margin-top: 20px;
        }
        .feature-option a {
            display: block;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        .feature-option a:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Features of our web</h1>

        <div class="feature-option">
            <a href="/dashboard">Real-time Weather Data</a>
        </div>

        <div class="feature-option">
            <a href="/weather">Weather Forecasts</a>
        </div>

        <div class="feature-option">
            <a href="/alerts">Weather Alerts</a>
        </div>

        <div class="feature-option">
            <a href="/quiz">Weather Quiz</a>
        </div>
        
        <div class="feature-option">
            <a href="/facts">Weather Facts</a>
        </div>    
        
        
        <!-- <div class="feature-option">
            <a href="/aboutUs">About Us</a> 
        </div>   -->

        <p style="color: white;font-weight: bolder;">Don't have an account? <a href="/signup" style="color: white;font-weight: bold;">Signup</a></p>
    </div>
</body>
</html>
